* {
    margin: 0;
    padding: 0;
   
  }
  
  html, body {
    background-color: var(--dark);
    color: var(--text-light);
 
  }
  
  .container {
    width: 90%;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }